{% extends 'home.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{%static 'css/team.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
<!-- Created By CodingLab - www.codinglabweb.com -->

<body>

  <div class="container">
  
    <div class="main-card">
      <div class="cards">
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="/static/img/umang.jpg" alt="">
           </div>
           <div class="details">
             <div class="name">Umang Kumar</div>
             <div class="job">Member</div>
           </div>
           <div class="media-icons">
            <a href="https://www.linkedin.com/in/umangkumarumk/"><i class="fab fa-linkedin"></i></a>
             <a href="https://www.facebook.com/umang.kumar.75436"><i class="fab fa-facebook-f"></i></a>
             <a href="https://www.instagram.com/umang_kumar03/?hl=en"><i class="fab fa-instagram"></i></a>
           </div>
         </div>
        </div>
        <div class="card">
         <div class="content">
           <div class="img">
             <img src="/static/img/ly.jpeg" alt="">
           </div>
           <div class="details">
             <div class="name">Leepakshi Yadav</div>
             <div class="job">Member</div>
           </div>
           <div class="media-icons">
            <a href="#"><i class="fab fa-linkedin"></i></a>
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
           </div>
         </div>
        </div>
       
      </div>
      <div class="cards">
     
      </div>
    </div>
  
  </div>
  
</body>



{% endblock %}
