{% extends 'home.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{%static 'css/rules.css'%}">
<main>
    <ul class="infoGraphic"> 
      <li>
        <div class="numberWrap">
          <div class="number fontColor1">1</div>
          <div class="coverWrap">
            <div class="numberCover"></div>
          </div>
        </div>
        <div class="content">
         
          
          <p>Employee of the year is an ultimate hunt to find out the smartest employee. .</p>
        </div>
      </li>
      <li>
        <div class="numberWrap">
          <div class="number fontColor2">2</div>
          <div class="coverWrap">
            <div class="numberCover"></div>
          </div>
        </div>
        <div class="content">

          
          <p>On every level one picture would be shown to you by your Boss. 
            
            Your task is to crack that image and find out the hidden meaning.
            
            The faster you guess hidden meaning, the more reputation you earn.
            
        </p>
        </div>
      </li>
      <li>
        <div class="numberWrap">
          <div class="number  fontColor3">3</div>
          <div class="coverWrap">
            <div class="numberCover"></div>
          </div>
        </div>
        <div class="content">

          <p> 1st employee to guess picture correctly will gain 50 reputation, 2nd 49 and so on
            <br>
            If you submit after 35 correct submissions by other participants, you will get 15 coins only
            <br> <br>
        </p>
        </div>
      </li>
      <li>
        <div class="numberWrap">
          <div class="number  fontColor4">4</div>
          <div class="coverWrap">
            <div class="numberCover"></div>
          </div>
        </div>
        <div class="content">
        
          <p>  If you get stuck you can take hints from your boss, but that would cost you your reputation. <br>
            1st hint costs:- 3 reputation <br>
            2nd hint costs:- 5 reputation <br></p>
        </div>
      </li>
      <li>
        <div class="numberWrap">
          <div class="number  fontColor5">5</div>
          <div class="coverWrap">
            <div class="numberCover"></div>
          </div>
        </div>
        <div class="content">
    
          <p>Initaially every employee will have equal repution of 100. <br>
            At the end of the contest whichever employee would be having the highest reputaion would be titled "Employee Of The Year"
            <br>Write your guess in small letters without using any spaces in between.</p>
        </div>
      </li>
      <li>
        <div class="numberWrap">
          <div class="number  fontColor6">6</div>
          <div class="coverWrap">
            <div class="numberCover"></div>
          </div>
        </div>
        <div class="content">
    
          <p>Additionally employee can take two life lines in each questiom costing 10 reputation each<br>
            1st life line:- total letters  <br>
            2nd life line:- first letter <br></p>
        </p>
        </div>
      </li>

      <!--     <li>
        <div class="numberWrap">
        <div class="number  fontColor6">6</div>
        <div class="coverWrap">
          <div class="numberCover"></div>
        </div>
          </div>
        <div class="content">
          <div class="icon iconPeace"></div>
          <h2>Succeed</h2>
          <p>Sagittis, audantium sem eveniet lacus pede porttitor aenean.</p>
        </div>
      </li> -->
    </ul>
  
  </main>
  
  
{% endblock %}
