<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% load static %}
<link rel="stylesheet" href="{%static 'css/signin.css'%}">
{% if messages %} {% for message in messages %}
<div class="alert alert-{{ message.tags }} mb-0 alert-dismissible fade show my-0" role="alert">
    {{ message }}
    <button type="button" class="close float-end" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %} {% endif %}
<section>
  <div class="box">
    
    <div class="square" style="--i:0;"></div>
    <div class="square" style="--i:1;"></div>
    <div class="square" style="--i:2;"></div>
    <div class="square" style="--i:3;"></div>
    <div class="square" style="--i:4;"></div>
    <div class="square" style="--i:5;"></div>
    
   <div class="container"> 
    <div class="form"> 
      <h2>LOGIN</h2>
      <form method="post">
  {% csrf_token %}
        <div class="inputBx">
          <input type="text" required="required" name="e_no">
          <span>Enrollment Id</span>
          <i class="fas fa-user-circle"></i>
        </div>
        <div class="inputBx password">
          <input id="password-input" type="password" name="pass1" required="required">
          <span>Password</span>
          <!-- <a href="#" class="password-control" onclick="return show_hide_password(this);"></a> -->
          <i class="fas fa-key"></i>
        </div>
        <div class="inputBx">
          <input type="submit" value="Log in"> 
          
        </div>
      </form>
      <p>Don't have an account <a href="/">Sign up</a></p>
    </div>
  </div>
    
  </div>
</section>
 <br>
      
</div>
